<div class="question">
  <h1>{{question.title}}<br></h1>
  <h4>By: {{question.author}}</h4>
  <p>{{question.content}}<br></p>
  <button class="btn" {{action 'delete' question}}>Delete Question</button>
</div>
